.photo-ct {
  position: relative;
  z-index: 1;
  padding: 10px;
  float: left;
}

.photo-action {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: rgba(255,255,255,.4);
}

.photo-action:hover {
   color: #fff;
}

.photo-ct:hover .photo-action {
  color: rgba(255,255,255,.8);
}

.photo-ct.open .photo-action {
  background: rgba(0,0,0,.8);
  color: #fff;
}


.photo-ct.open .dropdown-menu {
  top: 42px;
  background: rgba(0,0,0,.8);
  border: 0;
  box-shadow: none;
  padding: 0;
  right: 10px;
  min-width: 100px;
}

.photo-ct.open .dropdown-menu li a {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.photo-ct.open .dropdown-menu li a:hover {
  background: #dc1f2a;
  color: #fff;
}

/* Friend*/

.fr-ct {}
.fr-tab-content .media {
  margin-bottom: 20px;
  padding: 10px;
}

.fr-tab-content .media:hover {
  background: #fff;
}

/* Social */
.social-wrap {}
.mod-wrap {
  margin: 20px 0;
  position: relative;
  z-index: 1;
}

.mod-wrap.content-box-border {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 15px;
}

.mod-wrap:last-child {
  margin-bottom: 0;
}
.mod-title {
  margin: 0 0 10px 0;
padding-bottom: 10px;
border-bottom: 1px dotted #ccc;
color: #333;
font-size: 16px;
}
.mod-action {
  position: absolute;
  top: 15px;
  right: 15px;
}
.mod-ct {}
.mod-user {}
.mod-user h5 {}
.mod-user h5 a {}
.mod-user h5 a:hover {}
.mod-user p {}
.mod-user a {
  color: #428BCA;
}

.mod-user a:hover {
  color: #dc1f2a;
}

.mod-soc-nav {}
.mod-soc-nav ul {
  margin: 0;
  padding: 0;
}
.mod-soc-nav ul li {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px dotted #ccc;
}

.mod-soc-nav ul li:last-child {
  border-bottom: 0;
}

.mod-soc-nav ul li a {
  display: block;
  line-height: 34px;
  color: #555;
  font-size: 13px;
}
.mod-soc-nav ul li a:hover {
  color: #428BCA;
}

.mod-search {}

.social-tab-content.box-tab-content {
  margin-bottom: 20px;
}
.social-tab-content.box-tab-content .nav {}
.social-tab-content.box-tab-content .nav li {}
.social-tab-content.box-tab-content .nav li a > i{
  margin-right: 5px;
}
.social-tab-content.box-tab-content .nav li a {
 
border-radius: 10px 10px 0 0;
font-weight: 300;
text-transform: none;
font-size: 14px;
}

.social-tab-content.box-tab-content .nav li.active a {
 background: #fff;
}
.social-tab-content.box-tab-content .nav li a:hover {}
.social-tab-content.box-tab-content .tab-content {
  padding: 0;
  border-bottom: 3px solid #ddd;
  background: #fff;
  overflow: hidden;
}

.activity-stream-wrap {}
.activity-stream-ct {
   margin-bottom: 30px;
}
.stream-main {

}

.frm-soc-ct {
  padding: 10px;
  background: #fff;
}

.frm-soc-ct textarea {
  border:0;
  box-shadow: none;
}

.frm-soc-ct textarea:focus {
  box-shadow: none;
}

.frm-soc-footer {
  background: #f2f2f2;
  border-top: 1px solid #ddd;
}

.frm-soc-footer .btn {
  margin: 5px 10px 0 10px;
}

.frm-soc-actions {}
.frm-soc-actions a {
  color: #444;
padding: 10px 20px;
text-align: center;
border-right: 1px solid #ddd;
margin: 0;
display: block;
float: left;
}
.frm-soc-actions a:hover {
  background: #fff;
}

.stream-main .media-body {
  background: #f8f8f8;
padding: 10px 20px;
border: 1px solid #ddd;
border-bottom: 3px solid #ddd;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
position: relative;
z-index: 1;
}

.stream-main h5 {}
.stream-main p {
  margin: 5px 0;
}
.stream-main a {}
.stream-meta {
  font-size: 12px;
padding-left: 60px;
margin: 10px 0;
}
.stream-meta a {
  margin: 0 7px;
}
.stream-meta a:hover {}
.stream-meta span {}

.stream-comment {
  background: #fff;
padding: 10px 20px;
border: 1px solid #ddd;
border-radius: 5px;
margin-left: 50px;
}
.stream-comment-header {
  padding-bottom: 10px;
margin-bottom: 10px;
border-bottom: 1px dotted #ddd;
}
.stream-comment-header .like-count {
  margin: 0;
  font-size: 12px;
}

.stream-comment-body {}
.stream-comment-ct.media {
  padding: 5px 0;
  border-bottom: 1px dotted #ddd;
  margin: 5px 0;
}
.stream-comment-body p {
  margin: 0;
  font-size: 13px;
}
.stream-comment-body h6 {
  font-size: 13px;
}
.stream-comment-body h6 a {

}

.stream-comment-body .meta {
  color: #888;
  font-size: 12px;
}
.stream-comment-body a {}

.stream-comment-footer {}
.stream-post-comment {}
.stream-post-comment form {}

.mod-chat {}
.mod-chat.content-box-border {
  background: #f5f5f5;
  padding: 0;
  margin-top: 0;
}

.mod-chat.content-box-border .box-ct {
  margin-bottom: 0;
}

.mod-chat .user-inchat {
  padding: 10px 15px;
  margin: 0;
}
.mod-chat .user-inchat:hover {
  background: #fff;
}
.mod-chat .chat-statsus,
.mod-chat .chat-loc {
  font-size: 13px;
  margin: 0;
}

.mod-chat .chat-loc {
  line-height: 1;
  font-size: 11px;
}

.mod-chat .chat-statsus a {
  font-weight: bold;
}
.mod-chat .chat-statsus span {
  color: #aaa;
  font-size: 12px;
}
.mod-chat .chat-statsus span i {
  margin: 0 5px;
}
.mod-chat-footer {
  padding: 10px;
border-top: 1px solid #ddd;
}

.chat-box {
  width: 240px;
  bottom: -21px;
  right: 20px;
  position: fixed;
  z-index: 9999;
  display: none;
}

.chat-box .content-box-border {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}

.bg-gray{
  background: #666;
}

.chat-box .content-box-border .box-title.bg-gray {
font-size: 13px;
margin: -11px -11px 20px -11px;
padding: 15px 10px;
font-weight: 400;
}

.chat-box .content-box-border .box-ct {
  margin-bottom: 0;
}

.box-title .action {}
.box-title .action a { }
.box-title .action a:hover {}
.chat-box-ct {}
.chat-box-ct .chat {
  font-size: 12px;
  line-height: 1.4;
  margin: 10px 0;
}

.chat-box-ct .chat p {
  margin: 0;
}

.chat-box-ct .chat small {
  color: #aaa;
}

.chat-box-ct .chat.chat-me {
  text-align: right;
}
.chat-box-footer {
  background: #f2f2f2;
padding: 10px;
margin: 10px -10px -10px -10px;
border-top: 1px solid #ddd;
}

/*Social Profile*/
.social-profile-header {}
.social-cover {
  max-height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  background: #f2f2f2;
}

.social-cover-img {
  width: 100%;
  height: auto;
}

.social-profile-avatar{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.social-profile-avatar .avatar-lg {
  border: 3px solid rgba(255,255,255,.6);
}

.social-profile-avatar .btn {
  top: 85px;
  left: 8px;
  position: absolute;
  z-index: 3;
}

.change-avatar-btn {}
.social-cover-action {
  top: 20px;
  right: 20px;
  z-index: 3;
  position: absolute;
}
.social-nav{
  background: #f5f5f5;
  padding: 0px 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
}
.social-nav a {
  color: #444;
display: inline-block;
padding: 15px;
line-height: 1;
font-size: 14px;
border-right: 1px solid #ddd;
margin-left: -3px;
}
.social-nav a:hover {
  background: #fff;
}

.mod-about {}
.mod-about p {
  margin: 10px 0;
  padding: 10px 0;
  line-height: 1.3;
  font-size: 13px;
  border-bottom: 1px dotted #ddd;
}

.mod-photo ul.gallery-list,
.mod-friend ul.gallery-list {
  margin: 0;
  padding: 0;
}

.mod-photo ul.gallery-list li,
.mod-friend ul.gallery-list li {
  display: block; 
  float: left;
  margin: 7px;
}

.page-social {
  width: 40px;
  position: fixed;
  left: 0;
  top: 20%;
  z-index: 1000;
}
.page-social ul {
  margin: 0;
  padding: 0;
}
.page-social ul li {}
.page-social ul li a {
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  transition: width .1s linear;
  -moz-transition: width .1s linear;
  -webkit-transition: width .1s linear;
  text-align: center;
}
.page-social ul li:first-child a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}

.page-social ul li:last-child a {
  border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
}

.page-social ul li a:hover {
  width: 40px;
  color: #fff;
}

/* Specific Social Style */
.social-wrap {}
.social-wrap .navigation ul li a:hover, 
.social-wrap .navigation ul li a.active {
  background:  #0e90d6;
  border-color:  #0e90d6;
}
.social-wrap .box-ct a,
.social-wrap .activity-stream-ct a,
.social-tab-content a,
.social-wrap .mod-wrap a  {
  color: #428bca;
}

.social-wrap .box-ct a:hover,
.social-wrap .activity-stream-ct a:hover,
.social-tab-content a:hover,
.social-wrap .mod-wrap a:hover {
  color: #2a6496;
}

#soc-upload form,
#soc-upload #fileupload {
  margin: 20px;
}

#soc-upload table .preview a {
  height: 40px;
  display: block;
}

#soc-upload table .preview {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

#soc-upload table .preview a img {
  height: auto;
  width: 60px;
}

#soc-upload table td {
  vertical-align: middle;
}

#soc-upload .fileupload-data-list {

}

.fileupload-btns {
  text-align: center;
}

.fileupload-progress .progress {
  margin: 10px auto;
}

.fileupload-progress .progress-extended {
  display: none;
}

#soc-upload .frm-soc-footer {
  margin: 20px -20px -20px;
}

.table-upload {}
.table-upload td {}
.table-upload .actions {}
.table-upload .actions .btn {
  margin-bottom: 10px;
}


